#cp-conteudo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 4.5rem;
    background: #1E3050;
    -webkit-mask-image: url(../img/svg/tab_2.svg);
    -webkit-mask-repeat: no-repeat;
}

#cp-conteudo::after {
    content: '';
    position: absolute;
    display: flex;
    padding-top: .5rem;
    justify-content: center;
    align-items: center;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    width: 3.5rem;
    height: 3.5rem;
    background-color: #0c6b96;
    background-image: url(../../public/img/svg/caret-light.svg);
    background-position: 55% 50%;
    background-repeat: no-repeat;
    background-size: 15%;
    border-radius: 100%;
}

#cp-header::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/foto-capa-publico-quente.webp);
    background-position: top right;
    background-size: cover;
    -webkit-mask-image: linear-gradient(black, transparent)
}

#cp-sobre::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: url(../img/foto-andre-mendes.webp);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:820px) {
    #cp-sobre:before {
        background-position: 100% 0;
        background-repeat: no-repeat;
        background-size: 200%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100vw;
    }

    #cp-header::before {
        filter: blur(15px) brightness(60%);
    }

}