#evt-zoom::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .25;
    background-image: url(../img/evento-zoom.webp);
    transform: scaleX(-1);
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to right, black, transparent 75%)
}

#evt-valor::before {
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    filter: blur(12px);
}

#evt-local::before, #evt-hoteis-parceiros::before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background-image: url('../img/mercure_sjc.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: .5;
    -webkit-mask-image: linear-gradient(to left, black, transparent)
}

#evt-o-que-fazer::before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background-image: url('../img/sjc.webp');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: .5;
    -webkit-mask-image: linear-gradient(black, transparent)
}

#countdown::before {
    content: '';
    background-image: url(../img/[evento]_header_bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    mix-blend-mode: overlay;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .5;
    bottom: 0;
    right: 0;
}

#evt-palestrantes::before {
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    filter: blur(10px);
    opacity: .2;
}

#grid-presencial::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: solid 2px rgb(7 89 133);
    border-radius: .675rem;
}