@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --cor-1: #0986bf;
    --cor-1-5: #0985bf8e;
    --cor-2: #11e9de;
    --cor-3: #45f063;
    --cor-4: #1E3050;
    --cor-5: #0c6b96;
    --cor-6: #46c15c;
    --cor-7: #58a5f7;
    --grad-1: #0986bf, #3fbac5, #00ffa2;
    --grad-2: #7ed4db, #0986bf, #1E3050;
    --grad-3: #0c6b96, #1E3050;
    --grad-4: rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3);
    --divider-bg: #fff, hsla(0, 0%, 100%, 0);
    --divider-bg-2: var(--cor-4), hsla(0, 0%, 100%, 0);
    font-size: 12pt;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth
}

body, html {
    color: #fff;
    background: linear-gradient(var(--grad-3)) var(--cor-4) no-repeat;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}

.cor-1 {
    color: var(--cor-1)
}

.cor-2 {
    color: var(--cor-2)
}

.cor-3 {
    color: var(--cor-3)
}

.cor-4 {
    color: var(--cor-4)
}

.cor-5 {
    color: var(--cor-5)
}

.cor-6 {
    color: var(--cor-6)
}

.cor-7 {
    color: var(--cor-7)
}

.grad-alt {
    background-image: linear-gradient(90deg, var(--cor-7), var(--cor-3)) !important;
    background-size: 100% !important;
}

button, h1, h2, h3, h4, h5, h6, img, label, p, span, svg {
    display: block;
    margin: 0;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

mark {
    background: none
}

a:active, a:link, a:visited {
    text-decoration: none;
    -webkit-text-decoration: none;
}

button, img, svg {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

button:focus, input:focus, select:focus {
    outline: none
}

@keyframes grad-slide {
    to {
        background-position: var(--bg-size) 0;
    }
}

@keyframes fade-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade {
    opacity: 0;
}

.fade-up {
    transform: translateY(24px);
    animation: fade-up 1000ms ease-out forwards;
}

.grad-text {
    --bg-size: 200%;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, var(--cor-7), #11e9de, var(--cor-7)) 0 0 / var(--bg-size) 100%;
    background-clip: content-box;
    -webkit-background-clip: text;
}

.grad-slide {
    animation: grad-slide 3s ease infinite;
}

.grad-1 {
    background-color: #009fb5;
    background-image: linear-gradient(0deg, var(--grad-1));
    background-image: -moz-linear-gradient(0deg, var(--grad-1));
    background-image: -webkit-linear-gradient(0deg, var(--grad-1));
    background-size: 150%;
    background-position: 0%;
}

.grad-light {
    background-image: linear-gradient(45deg, var(--grad-4));
}

.bg-fade-left {
    -webkit-mask-image: linear-gradient(to left, black, transparent)
}

.bg-fade-right {
    -webkit-mask-image: linear-gradient(to right, black, transparent)
}

.bg-fade-top {
    -webkit-mask-image: linear-gradient(to top, black, transparent)
}

.bg-fade-bottom {
    -webkit-mask-image: linear-gradient(to bottom, black, transparent)
}

.divider {
    background-image: radial-gradient(var(--divider-bg));
    background-size: contain;
    background-position: center;
    height: 1px;
    margin: 10px auto;
    opacity: .5;
    width: 90%
}

.divider.left {
    margin: 10px 0;
    background-image: linear-gradient(90deg, var(--divider-bg));
}

.light .divider {
    background-image: linear-gradient(var(--divider-bg-2));
}

.light .divider.left {
    margin: 10px 0;
    background-image: linear-gradient(90deg, var(--divider-bg-2));
}

.backlit {
    position: relative;
}
.backlit > * {
    position: relative;
    z-index: 5;
}

.backlit::before {
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
    width: 50%;
    height: auto;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at center, #ffffff, rgba(255, 255, 255, 0));
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    filter: blur(200px);
}

.badge {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    aspect-ratio: 1;
}

.absolute-top-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backface-hidden {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.collapsible {
    max-height: 3.25rem;
    transition:
        max-height 300ms ease-out,
        background-color 200ms ease-out;
}

.collapsible span {
    overflow: hidden;
    white-space: nowrap;
}

.caret {
    transition: 300ms ease-out;
}

.collapsible.active .caret {
    transform: rotate(90deg);
}

.collapsible.active span {
    overflow: visible;
    white-space: wrap;
}

.my-list {
    list-style: none;
    padding: none;
}

.my-list li {
    position: relative;
    padding-left: 1.25rem;
}

.my-list li::before {
    content: '';
    position: absolute;
    width: .75rem;
    height: .75rem;
    left: 0;
    top: .25rem;
}

.check-light li::before {
    background-image: url(../img/svg/check.svg);
}

.check-dark li::before {
    background-image: url(../img/svg/check-dark.svg);
}

.bullet-green li::before {
    background: var(--cor-3);
    top: .5rem;
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
}

.arrow li::before {
    content: '\21E8';
    top: 0;
}

.my-list li:not(:last-of-type) {
    margin-bottom: 1rem;
}

.checklist li {
    position: relative;
    padding-left: 1rem;
}

.my-list .include::before {
    content: '\2714';
    color: rgb(74 222 128);
    width: 1rem;
    height: 1rem;
    top: 0
}

.my-list .not-include::before {
    content: '\2718';
    color: rgb(255, 99, 71);
    width: 1rem;
    height: 1rem;
    top: 0
}

.my-list .not-include {
    opacity: .5;
}

.card-shine-effect {
    --shine-deg: 45deg;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;
    background-image: linear-gradient(var(--shine-deg),
            transparent 20%,
            transparent 40%,
            rgb(255, 255, 255, 0.2) 50%,
            rgb(255, 255, 255, 0.2) 55%,
            transparent 70%,
            transparent 100%);
    background-size: 250% 250%, 100% 100%;
}

@keyframes sheen {
    to {
        background-position: 200%0, 0 0;
    }
}

.card-shine-effect.sheen {
    animation: sheen 1500ms ease forwards;
}

.textbox {
    padding-right: 2rem;
}

.textbox.fade-text {
    -webkit-mask-image: linear-gradient(black 80%, transparent)
}

.textbox::-webkit-scrollbar {
    background: #1e305037;
    width: 6px;
}

.textbox::-webkit-scrollbar-thumb {
    background: #80b4de72;
    border-radius: 24px;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}

.slide-down {
    transform: translateY(-150%);
    animation: slideDown 1000ms ease-out forwards;
}

@keyframes scrollLeft {
    to {
        transform: translateX(-50%);
    }
}

.scroll-left {
    animation: scrollLeft 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.chuva-palmilhas::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-image: url(../img/chuva-palmilhas.webp);
}

.chain {
    position: relative;
    list-style: none;
    padding-bottom: 1rem;
}

.chain li:not(:last-of-type) {
    margin-bottom: 1rem;
}

.chain::before {
    content: '';
    position: absolute;
    left: 0;
    top: .5rem;
    display: block;
    width: 1px;
    height: 100%;
    background: linear-gradient(white 80%, transparent);
}

.chain li {
    position: relative;
    padding-left: 1.25rem;
}

.chain li::before {
    content: '';
    position: absolute;
    top: .25rem;
    left: 0;
    transform: translateX(-50%);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: solid 1px var(--cor-3);
}

.chain li::after {
    content: '';
    position: absolute;
    top: .5rem;
    left: 0;
    transform: translateX(-50%);
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
    background: #ffffff;
}

.group .border:nth-of-type(1) {
    border-right-width: 0 !important;
}

.group .border:nth-of-type(2) {
    border-width: 1px 0 1px 0 !important;
}

.group .border:nth-of-type(3) {
    border-left-width: 0 !important;
}

@media screen and (max-width:820px) {
    h1 {
        text-align: center;
    }
}

.spinner {
    position: relative;
}

.spinner::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/gif/loading.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.checkmark {
    position: relative;
}

.checkmark::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-palmilhando {
    position: relative;
}

.logo-palmilhando::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/svg/logo_palmilhando.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}